.details{

  
    .arrow{
        padding-left: 10px;
        padding-top: 10px;
        color: black;
    }

    .img{
        
        font-size: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .card{
        align-items: center;
        border-radius: 50%;
        max-width: 500px;
        

    }
    .p{
        padding-left: 30%;
    }
    .no{
        padding-left: 10%;
    }
   
}
.arrow:hover{
    color:	#808080;

}